.footer-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1780px;
  height: 187px;
}
.footer19 {
  position: absolute;
  top: 54px;
  left: 509px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--color-black);
  width: 76px;
  height: 27px;
}
.hfg-1-19 {
  position: absolute;
  top: 18px;
  left: 84px;
  width: 257px;
  height: 142.3px;
  object-fit: cover;
}
.website-cho-thu9 {
  margin: 0;
}
.uy-tn-ngoi9 {
  margin: 0;
  white-space: pre-wrap;
}
.nim-tin-ca9,
.website-cho-thu-container9 {
  position: absolute;
  top: 93px;
  left: 378px;
  display: inline-block;
  width: 338px;
}
.nim-tin-ca9 {
  top: 43px;
}
.mask-1-icon9 {
  position: absolute;
  top: 66px;
  left: 1350px;
  width: 249px;
  height: 66px;
  object-fit: cover;
}
.chat-vi-chng9 {
  position: absolute;
  top: 90px;
  left: 1425px;
  display: inline-block;
  width: 151px;
  height: 15.8px;
}
.h-tr-khch9,
.sn-phm9,
.thng-tin10 {
  position: absolute;
  top: 26px;
  left: 1348px;
  font-size: var(--font-size-xl);
}
.sn-phm9,
.thng-tin10 {
  left: 1068px;
}
.thng-tin10 {
  left: 773px;
}
.ti-khon-lin18,
.ti-khon-teamfight9 {
  position: absolute;
  top: 57px;
  left: 1074px;
}
.ti-khon-teamfight9 {
  top: 81px;
}
.chnh-sch-bo18,
.ti-khon-valorant9 {
  position: absolute;
  top: 106px;
  left: 1074px;
}
.chnh-sch-bo18 {
  top: 57px;
  left: 780px;
}
.chnh-sch-bo19,
.hng-dn-np9,
.ti-khon-lin19 {
  position: absolute;
  top: 81px;
  left: 780px;
}
.hng-dn-np9,
.ti-khon-lin19 {
  top: 105px;
}
.ti-khon-lin19 {
  top: 130px;
  left: 1074px;
}
.footer-wrapper3,
.footer18 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 187px;
}
.footer-wrapper3 {
  top: 978px;
  font-size: var(--font-size-sm);
}
.lch-s-giao-dch-child {
  position: absolute;
  top: 294px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 1780px;
  height: 684px;
}
.group-child67 {
  background-color: var(--color-black);
}
.group-child67,
.group-child68,
.header-inner7 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 151.2px;
}
.group-child68 {
  border-radius: var(--br-9xl);
  background-color: var(--color-white);
  width: 712.2px;
  height: 42px;
}
.search-1-icon9 {
  position: absolute;
  top: 6px;
  left: 663px;
  width: 31.1px;
  height: 31px;
  object-fit: cover;
}
.rectangle-parent56 {
  position: absolute;
  top: 22px;
  left: 533.4px;
  width: 712.2px;
  height: 42px;
}
.hng-dn9,
.mini-game9,
.np-tin9,
.tin-tc9,
.trang-ch9 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 118.5px;
}
.hng-dn9,
.mini-game9,
.np-tin9,
.tin-tc9 {
  left: 185.9px;
  width: 130.6px;
}
.mini-game9,
.np-tin9,
.tin-tc9 {
  left: 383.8px;
  width: 98.4px;
}
.mini-game9,
.tin-tc9 {
  left: 738.4px;
  width: 84.4px;
}
.mini-game9 {
  left: 549.5px;
  width: 121.5px;
}
.trang-ch-parent7 {
  position: absolute;
  top: 96px;
  left: 478.1px;
  width: 822.7px;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.group-child69 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 105.5px;
  height: 28px;
}
.ng-nhp9 {
  position: absolute;
  top: 6px;
  left: 16.1px;
  display: inline-block;
  width: 74.3px;
}
.group-child70,
.rectangle-parent57 {
  position: absolute;
  width: 105.5px;
  height: 28px;
}
.rectangle-parent57 {
  top: 29px;
  left: 1361.1px;
  cursor: pointer;
  color: var(--color-red-300);
}
.group-child70 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
}
.ng-k12 {
  position: absolute;
  top: 6px;
  left: 23.1px;
  display: inline-block;
  width: 56.3px;
}
.rectangle-parent58 {
  position: absolute;
  top: 29px;
  left: 1494.7px;
  width: 105.5px;
  height: 28px;
  cursor: pointer;
}
.hfg-3-19 {
  position: absolute;
  top: 12px;
  left: 243.1px;
  width: 140.6px;
  height: 128.2px;
  object-fit: cover;
}
.header9 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 151.2px;
  font-size: var(--font-size-sm);
}
.ti-khon3 {
  position: absolute;
  top: 224px;
  left: 243px;
  font-size: var(--font-size-21xl);
  color: var(--color-black);
}
.chi-tit-ti1 {
  position: absolute;
  top: 5px;
  left: 45.8px;
  display: inline-block;
  width: 198.2px;
}
.profile-user-1-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 38.8px;
  height: 39px;
  object-fit: cover;
}
.chi-tit-ti-khon-group,
.chi-tit1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 244px;
  height: 39px;
}
.chi-tit1 {
  top: 317px;
  left: 261px;
  color: var(--color-black);
}
.lch-s-giao1 {
  position: absolute;
  top: 5px;
  left: 46px;
}
.image-4-icon1,
.lch-s1 {
  position: absolute;
  height: 39px;
}
.image-4-icon1 {
  top: 0;
  left: 0;
  width: 39px;
  object-fit: cover;
}
.lch-s1 {
  top: 375px;
  left: 261px;
  width: 244px;
  color: var(--color-tomato-200);
}
.ng-xut-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-tomato-200);
  width: 182px;
  height: 52px;
}
.ng-xut3 {
  position: absolute;
  top: 14px;
  left: 60px;
  display: inline-block;
  width: 100px;
  height: 24px;
}
.turn-off-1-icon1 {
  position: absolute;
  top: 10px;
  left: 22px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.ng-xut2 {
  position: absolute;
  top: 810px;
  left: 261px;
  width: 182px;
  height: 52px;
  font-size: var(--font-size-lgi);
}
.group-child71,
.lch-s-giao2 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child71 {
  top: 38px;
  border-radius: var(--br-5xs);
  border: 3px solid var(--color-tomato-200);
  box-sizing: border-box;
  width: 733px;
  height: 423px;
}
.lch-s-giao-dch-parent {
  position: absolute;
  top: 317px;
  left: 628px;
  width: 733px;
  height: 461px;
  color: var(--color-black);
}
.lch-s-giao-dch-item {
  position: absolute;
  top: 315px;
  left: 583px;
  border-right: 4px solid var(--color-tomato-200);
  box-sizing: border-box;
  width: 4px;
  height: 545px;
}
.lch-s-giao-dch {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1165px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
