.image-3-icon1 {
  position: absolute;
  top: 149px;
  left: -12px;
  width: 1792px;
  height: 566px;
  object-fit: cover;
}
.footer-item {
  height: 187px;
  width: 1780px;
  position: relative;
  background-color: var(--color-black);
  display: none;
  max-width: 100%;
}
#signup{
  text-decoration: none;
  font-size: 1.1em;
  font-weight: bolder;
}
input:focus{
  outline: none;
}
.hfg-1-11 {
  height: 142.3px;
  width: 257px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.footer3,
.nim-tin-ca1 {
  position: relative;
  display: inline-block;
}
.nim-tin-ca1 {
  width: 338px;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 2;
}
.footer3 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  min-width: 76px;
  z-index: 1;
}
.footer-links1,
.slogan-inner-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.footer-links1 {
  flex-direction: column;
  padding: var(--padding-2xs) 0 0;
  margin-left: -207px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.slogan-inner-wrapper {
  align-self: stretch;
  flex-direction: row;
  max-width: 100%;
}
.website-cho-thu1 {
  margin: 0;
}
.uy-tn-ngoi1 {
  margin: 0;
  white-space: pre-wrap;
}
.website-cho-thu-container1 {
  align-self: stretch;
  position: relative;
  z-index: 1;
}
.slogan-container,
.slogan-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.slogan-wrapper {
  align-self: stretch;
  gap: var(--gap-xs);
}
.slogan-container {
  flex: 1;
  padding: var(--padding-6xl) var(--padding-xl) 0 0;
  box-sizing: border-box;
  min-width: 233px;
  flex-shrink: 0;
}
.thng-tin1 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 113px;
}
.chnh-sch-bo2,
.thng-tin1 {
  position: relative;
  z-index: 1;
}
.policy-links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.chnh-sch-bo3 {
  position: relative;
  z-index: 1;
}
.policy-links1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.hng-dn-np1 {
  position: relative;
  z-index: 1;
}
.policy-links2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-6xs);
}
.policies {
  flex-direction: column;
  gap: var(--gap-6xs);
}
.footer-content1,
.navigation,
.policies {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.navigation {
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
}
.footer-content1 {
  width: 844px;
  flex-direction: row;
  gap: var(--gap-18xl);
  min-width: 844px;
  max-width: 100%;
}
.sn-phm1 {
  margin: 0;
  font-size: var(--font-size-xl);
  font-weight: 700;
  font-family: inherit;
  display: inline-block;
  min-width: 109px;
}
.sn-phm1,
.ti-khon-lin2 {
  position: relative;
  z-index: 1;
}
.product-items {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.ti-khon-teamfight1 {
  position: relative;
  z-index: 1;
}
.product-items1 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 0 var(--padding-7xs);
}
.ti-khon-valorant1 {
  position: relative;
  z-index: 1;
}
.product-items2 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-7xs);
}
.ti-khon-lin3 {
  position: relative;
  z-index: 1;
}
.product-items3,
.product-links1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-items3 {
  flex-direction: row;
  padding: 0 var(--padding-8xs) 0 var(--padding-7xs);
}
.product-links1 {
  flex-direction: column;
  gap: var(--gap-5xs-3);
  min-width: 211px;
}
.h-tr-khch {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  z-index: 1;
}
.mask-1-icon {
  height: 66px;
  width: 249px;
  position: relative;
  object-fit: cover;
  display: none;
}
.chat-vi-chng {
  position: relative;
  z-index: 2;
}
.chat,
.chat-link,
.support {
  display: flex;
  align-items: flex-start;
}
.chat-link {
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding: var(--padding-5xl) var(--padding-4xl) var(--padding-7xl-2);
  background-image: url(./public/mask-1@2x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  white-space: nowrap;
  z-index: 1;
}
.chat,
.support {
  justify-content: flex-start;
}
.chat {
  align-self: stretch;
  flex-direction: row;
  padding: 0 0 0 var(--padding-11xs);
  font-size: var(--font-size-sm);
}
.support {
  flex: 1;
  flex-direction: column;
  gap: var(--gap-base);
  min-width: 163px;
  font-size: var(--font-size-xl);
}
.footer2,
.product-categories,
.product-categories-wrapper,
.support1 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.product-categories {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-50xl);
}
.footer2,
.product-categories-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.product-categories-wrapper {
  width: 531px;
  flex-direction: column;
  padding: var(--padding-5xs) 0 0;
  min-width: 531px;
}
.footer2 {
  position: absolute;
  top: 714px;
  left: 0;
  background-color: var(--color-black);
  width: 100%;
  flex-direction: row;
  padding: var(--padding-lg) var(--padding-65xl) var(--padding-7xl-7);
  gap: var(--gap-121xl);
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.frame-child7,
.hfg-3-11 {
  position: relative;
  max-width: 100%;
}
.frame-child7 {
  height: 151.2px;
  width: 1780px;
  background-color: var(--color-black);
  display: none;
}
.hfg-3-11 {
  align-self: stretch;
  flex: 1;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
  z-index: 1;
}
.header-logo {
  align-self: stretch;
  width: 174.8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-15xl) 0 0;
  box-sizing: border-box;
}
.frame-child8 {
  height: 42px;
  width: 712.2px;
  position: relative;
  border-radius: var(--br-9xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.search-1-icon1 {
  height: 31px;
  width: 31.1px;
  position: relative;
  object-fit: cover;
  z-index: 1;
}
.rectangle-parent6,
.search-input-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent6 {
  flex: 1;
  border-radius: var(--br-9xl);
  background-color: var(--color-white);
  padding: var(--padding-7xs) var(--padding-lg) var(--padding-8xs);
  z-index: 2;
}
.search-input-container {
  align-self: stretch;
  padding: 0 var(--padding-36xl);
}
.trang-ch1 {
  display: inline-block;
  min-width: 118.5px;
}
.hng-dn1,
.mini-game1,
.np-tin1,
.tin-tc1,
.trang-ch1 {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  white-space: nowrap;
  z-index: 2;
}
.mini-game1,
.np-tin1,
.tin-tc1 {
  display: inline-block;
  min-width: 98.4px;
}
.mini-game1,
.tin-tc1 {
  min-width: 121.5px;
}
.tin-tc1 {
  min-width: 84.4px;
}
.navigation-menu {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.search-bar-container,
.search-bar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.search-bar-wrapper {
  align-self: stretch;
  align-items: flex-end;
  gap: var(--gap-13xl);
}
.search-bar-container {
  width: 822.8px;
  align-items: flex-start;
  padding: var(--padding-3xs) 0 0;
  box-sizing: border-box;
}
.frame-child9 {
  height: 28px;
  width: 105.5px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  display: none;
}
.ng-nhp2 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-red-300);
  text-align: left;
  display: inline-block;
  min-width: 74.3px;
  z-index: 1;
}
.rectangle-parent7 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-mini) var(--padding-8xs)
    var(--padding-base);
  background-color: var(--color-white);
  border-radius: var(--br-3xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent7:hover {
  background-color: var(--color-gainsboro-100);
}
.frame-child10 {
  height: 28px;
  width: 105.5px;
  position: relative;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
  display: none;
}
.ng-k4 {
  text-decoration: none;
  position: relative;
  font-size: var(--font-size-sm);
  font-weight: 700;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  display: inline-block;
  min-width: 56.3px;
  z-index: 1;
}
.rectangle-parent8 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-7xs) var(--padding-4xl) var(--padding-8xs);
  background-color: var(--color-red-200);
  flex: 1;
  border-radius: var(--br-3xs);
  flex-direction: row;
  white-space: nowrap;
  z-index: 2;
}
.rectangle-parent8:hover {
  background-color: var(--color-red-100);
}
.authentication,
.rectangle-parent8,
.user-actions {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.authentication {
  align-self: stretch;
  flex-direction: row;
  gap: var(--gap-9xl-1);
}
.user-actions {
  width: 239.1px;
  flex-direction: column;
  padding: var(--padding-mid) 0 0;
  box-sizing: border-box;
}
.form-ng-nhp-child,
.group-header {
  box-sizing: border-box;
  max-width: 100%;
}
.group-header {
  align-self: stretch;
  height: 151.2px;
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-xl) var(--padding-2xs)
    var(--padding-65xl);
  gap: var(--gap-41xl-2);
  flex-shrink: 0;
  z-index: 1;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.form-ng-nhp-child {
  width: 563px;
  height: 429px;
  position: relative;
  box-shadow: 0 4px 5.8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(28px);
  border-radius: var(--br-smi);
  background-color: var(--color-dimgray);
  border: 2px solid var(--color-white);
  display: none;
}
.ng-nhp3 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.79);
  z-index: 1;
}
.login-title-container,
.password-container,
.username-wrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.password-container,
.username-wrapper {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-gray);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-47xl);
  justify-content: flex-start;
  box-sizing: border-box;
  font-family: var(--font-inter);
  font-weight: 700;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  min-width: 250px;
}
.username-wrapper {
  height: 43px;
  padding: var(--padding-smi) var(--padding-lg);
  z-index: 1;
}
.password-container {
  height: 47px;
  padding: var(--padding-smi) var(--padding-lg) var(--padding-mid);
}
.checkbox {
  width: 16px;
  height: 16px;
  position: relative;
  background-color: #d9d9d9;
  z-index: 1;
}
.checkbox-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 1px 0 0;
}
.lu-ti-khon {
  position: relative;
  font-size: var(--font-size-sm);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  min-width: 93px;
  z-index: 1;
}
.remember-me-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 6px;
}
.login-button-container-child {
  height: 43px;
  width: 458px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-47xl);
  background-color: var(--color-tomato-200);
  display: none;
  max-width: 100%;
}
.ng-nhp4 {
  position: relative;
  font-size: var(--font-size-xl);
  display: inline-block;
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.55);
  min-width: 106px;
  z-index: 2;
}
.login-button-container,
.remember-me-container {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.login-button-container {
  cursor: pointer;
  border: 0;
  padding: var(--padding-3xs) var(--padding-xl) var(--padding-4xs)
    var(--padding-5xl);
  background-color: var(--color-tomato-200);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-47xl);
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
  z-index: 1;
}
.login-button-container:hover {
  background-color: var(--color-tomato-100);
}
.remember-me-container {
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 4px;
  gap: 19px;
}
.bn-cha-c,
.ng-k-ti {
  position: relative;
  font-size: var(--font-size-base);
  font-family: var(--font-inter);
  color: var(--color-white);
  text-align: left;
  z-index: 1;
}
.bn-cha-c {
  flex: 1;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.ng-k-ti {
  width: 121px;
  font-weight: 800;
  display: inline-block;
  text-shadow: 1px 0 0#000, 0 1px 0#000, -1px 0 0#000, 0-1px 0#000;
  cursor: pointer;
}
.registration-container,
.registration-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.registration-wrapper {
  width: 310px;
  justify-content: flex-start;
  gap: var(--gap-6xs);
}
.registration-container {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 69px;
}
.username-container {
  margin: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-4xl);
  max-width: 100%;
}
.form-ng-nhp,
.login-form-container {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.form-ng-nhp {
  width: 563px;
  box-shadow: 0 4px 5.8px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(28px);
  border-radius: var(--br-smi);
  background-color: var(--color-dimgray);
  border: 2px solid var(--color-white);
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-lg) 48px 38px;
  gap: 67px;
  flex-shrink: 0;
  z-index: 1;
}
.login-form-container {
  align-self: stretch;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl) 0 var(--padding-2xl);
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 49.8px;
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
.ng-nhp1 {
  width: 100%;
  height: 901px;
  position: relative;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--color-white);
  overflow: hidden;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1600px) {
  .footer-content1,
  .product-categories-wrapper {
    flex: 1;
  }
  .footer2 {
    flex-wrap: wrap;
  }
  .ng-nhp1 {
    height: auto;
    min-height: 901;
  }
}
@media screen and (max-width: 1275px) {
  .footer-content1 {
    min-width: 100%;
  }
  .footer2 {
    gap: var(--gap-51xl);
    padding-right: var(--padding-23xl);
  }
  .footer2,
  .group-header {
    padding-left: var(--padding-23xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 900px) {
  .footer-content1 {
    flex-wrap: wrap;
  }
  .product-links1 {
    flex: 1;
  }
  .product-categories {
    flex-wrap: wrap;
    gap: var(--gap-15xl);
  }
  .product-categories-wrapper {
    min-width: 100%;
  }
  .footer2 {
    gap: var(--gap-16xl);
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .search-input-container {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .group-header {
    gap: var(--gap-11xl);
    padding-left: var(--padding-2xl);
    box-sizing: border-box;
  }
  .ng-nhp3 {
    font-size: var(--font-size-7xl);
  }
  .form-ng-nhp {
    gap: var(--gap-14xl);
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .footer3 {
    font-size: var(--font-size-lgi);
  }
  .thng-tin1 {
    font-size: var(--font-size-base);
  }
  .footer-content1 {
    gap: var(--gap-lg);
  }
  .h-tr-khch1,
  .sn-phm1 {
    font-size: var(--font-size-base);
  }
  .footer2,
  .product-categories {
    gap: var(--gap-mid);
  }
  .search-bar-wrapper {
    gap: var(--gap-base);
  }
  .group-header {
    gap: var(--gap-mini);
  }
  .ng-nhp3 {
    font-size: var(--font-size-lgi);
  }
  .registration-container {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .form-ng-nhp {
    gap: var(--gap-mid);
  }
  .header {
    gap: 25px;
  }
}
