.group-child7 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 352px;
  height: 515px;
}
.x2160-project-riven-lol-league-icon {
  position: absolute;
  top: 17px;
  left: 19px;
  width: 308px;
  height: 272px;
  object-fit: cover;
}
.rank-n-vng {
  margin: 0;
}
.gi-123,
.rank-n-vng-container {
  position: absolute;
  top: 308px;
  left: 19px;
}
.gi-123 {
  top: 403px;
  font-size: 30px;
  color: var(--color-tomato-200);
}
.xem-chi-tit-child {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato-200);
  width: 118px;
  height: 33px;
}
.xem-chi-tit,
.xem-chi-tit1 {
  position: absolute;
  top: 6px;
  left: 6px;
}
.xem-chi-tit {
  top: 458px;
  left: 111px;
  width: 118px;
  height: 33px;
  font-size: var(--font-size-lg);
}
.rectangle-parent7 {
  position: absolute;
  top: 335px;
  left: 243px;
  width: 352px;
  height: 515px;
  font-size: var(--font-size-base);
}
.footer-item {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1780px;
  height: 187px;
}
.footer3 {
  position: absolute;
  top: 54px;
  left: 509px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--color-black);
  width: 76px;
  height: 27px;
}
.hfg-1-11 {
  position: absolute;
  top: 18px;
  left: 84px;
  width: 257px;
  height: 142.3px;
  object-fit: cover;
}
.uy-tn-ngoi1 {
  margin: 0;
  white-space: pre-wrap;
}
.nim-tin-ca1,
.website-cho-thu-container1 {
  position: absolute;
  top: 93px;
  left: 378px;
  display: inline-block;
  width: 338px;
}
.nim-tin-ca1 {
  top: 43px;
}
.mask-1-icon1 {
  position: absolute;
  top: 66px;
  left: 1350px;
  width: 249px;
  height: 66px;
  object-fit: cover;
}
.chat-vi-chng1 {
  position: absolute;
  top: 90px;
  left: 1425px;
  display: inline-block;
  width: 151px;
  height: 15.8px;
}
.h-tr-khch1,
.sn-phm1,
.thng-tin1 {
  position: absolute;
  top: 26px;
  left: 1348px;
  font-size: var(--font-size-xl);
}
.sn-phm1,
.thng-tin1 {
  left: 1068px;
}
.thng-tin1 {
  left: 773px;
}
.ti-khon-lin2 {
  position: absolute;
  top: 57px;
  left: 1074px;
}
.ti-khon-teamfight1,
.ti-khon-valorant1 {
  position: absolute;
  top: 81px;
  left: 1074px;
}
.ti-khon-valorant1 {
  top: 106px;
}
.chnh-sch-bo2,
.chnh-sch-bo3,
.hng-dn-np1 {
  position: absolute;
  top: 57px;
  left: 780px;
}
.chnh-sch-bo3,
.hng-dn-np1 {
  top: 81px;
}
.hng-dn-np1 {
  top: 105px;
}
.footer2,
.ti-khon-lin3 {
  position: absolute;
  top: 130px;
  left: 1074px;
}
.footer2 {
  top: 1297px;
  left: 0;
  width: 1780px;
  height: 187px;
}
.group-child8 {
  background-color: var(--color-black);
}
.group-child8,
.group-child9,
.header-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 151.2px;
}
.group-child9 {
  border-radius: var(--br-9xl);
  background-color: var(--color-white);
  width: 712.2px;
  height: 42px;
}
.search-1-icon1 {
  position: absolute;
  top: 6px;
  left: 663px;
  width: 31.1px;
  height: 31px;
  object-fit: cover;
}
.rectangle-parent8 {
  position: absolute;
  top: 22px;
  left: 533.4px;
  width: 712.2px;
  height: 42px;
}
.hng-dn1,
.mini-game1,
.np-tin1,
.tin-tc1,
.trang-ch1 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 118.5px;
}
.hng-dn1,
.mini-game1,
.np-tin1,
.tin-tc1 {
  left: 185.9px;
  width: 130.6px;
}
.mini-game1,
.np-tin1,
.tin-tc1 {
  left: 383.8px;
  width: 98.4px;
}
.mini-game1,
.tin-tc1 {
  left: 738.4px;
  width: 84.4px;
}
.mini-game1 {
  left: 549.5px;
  width: 121.5px;
}
.trang-ch-group {
  position: absolute;
  top: 96px;
  left: 478.1px;
  width: 822.7px;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.group-child10 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 105.5px;
  height: 28px;
}
.ng-nhp1 {
  position: absolute;
  top: 6px;
  left: 16.1px;
  display: inline-block;
  width: 74.3px;
}
.group-child11,
.rectangle-parent9 {
  position: absolute;
  width: 105.5px;
  height: 28px;
}
.rectangle-parent9 {
  top: 29px;
  left: 1361.1px;
  cursor: pointer;
  color: var(--color-red-300);
}
.group-child11 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
}
.ng-k4 {
  position: absolute;
  top: 6px;
  left: 23.1px;
  display: inline-block;
  width: 56.3px;
}
.rectangle-parent10 {
  position: absolute;
  top: 29px;
  left: 1494.7px;
  width: 105.5px;
  height: 28px;
  cursor: pointer;
}
.hfg-3-11 {
  position: absolute;
  top: 12px;
  left: 243.1px;
  width: 140.6px;
  height: 128.2px;
  object-fit: cover;
}
.nick-game {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1484px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-sm);
  color: var(--color-white);
  font-family: var(--font-inter);
}
