.thanh-ton-child {
  position: absolute;
  top: 278px;
  left: calc(50% - 576px);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 825px;
  height: 535px;
}
.group-child78,
.group-child79 {
  position: absolute;
  height: 15.75%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 84.25%;
  left: 0;
  background-color: var(--color-red-400);
}
.group-child79 {
  height: 81.62%;
  top: 18.38%;
  bottom: 0;
  background-color: var(--color-white);
}
.xc-nhn-thng {
  position: absolute;
  top: 4.53%;
  left: calc(50% - 215.5px);
  font-size: var(--font-size-5xl);
  color: var(--color-white);
}
.thng-tin-ti {
  position: absolute;
  top: 22.67%;
  left: 3.2%;
}
.group-child80,
.group-child81,
.group-child82 {
  position: absolute;
  height: 10.74%;
  width: 100%;
  top: 32.7%;
  right: 0;
  bottom: 56.56%;
  left: 0;
  background-color: var(--color-mistyrose);
}
.group-child81,
.group-child82 {
  top: 54.89%;
  bottom: 34.37%;
}
.group-child82 {
  top: 74.7%;
  bottom: 14.56%;
}
.rank-n,
.rank-n-parent,
.vng-iv {
  position: absolute;
  top: 0;
  left: 0;
}
.rank-n-parent,
.vng-iv {
  left: 81.33%;
}
.rank-n-parent {
  height: 9.52%;
  width: 96.57%;
  right: 3.43%;
  bottom: 90.48%;
  left: 0;
}
.bch-kim,
.khung-parent {
  position: absolute;
  top: 0;
  left: 78.54%;
}
.khung-parent {
  height: 9.52%;
  width: 100%;
  top: 17.86%;
  right: 0;
  bottom: 72.62%;
  left: 0;
}
.b5 {
  top: 0;
  left: 91.04%;
}
.b5,
.b6,
.tng-parent {
  position: absolute;
}
.tng-parent {
  height: 9.52%;
  width: 86.27%;
  top: 36.11%;
  right: 13.73%;
  bottom: 54.37%;
  left: 0;
}
.b6 {
  top: 0;
  left: 88.19%;
}
.gi-tin-parent,
.trang-phc-parent {
  position: absolute;
  height: 9.52%;
  width: 89.06%;
  top: 52.78%;
  right: 10.94%;
  bottom: 37.7%;
  left: 0;
}
.gi-tin-parent {
  width: 86.27%;
  top: 69.44%;
  right: 13.73%;
  bottom: 21.03%;
}
.b8,
.tng-thanh-ton {
  position: absolute;
  top: 90.48%;
  left: 0;
}
.b8 {
  left: 78.54%;
  color: var(--color-red-200);
}
.group-parent {
  position: absolute;
  height: 60.14%;
  width: 59.67%;
  top: 35.56%;
  right: 37.13%;
  bottom: 4.3%;
  left: 3.2%;
}
.rectangle-parent63 {
  position: absolute;
  height: 31.65%;
  width: 44.07%;
  top: 22.43%;
  right: 37.19%;
  bottom: 45.92%;
  left: 18.74%;
  color: var(--color-black);
}
.group-child83 {
  position: absolute;
  top: 10.5px;
  left: -2.5px;
  border-top: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 1157px;
  height: 5px;
}
.group-child84 {
  position: absolute;
  top: 0;
  left: 555px;
  width: 41px;
  height: 41px;
  object-fit: contain;
}
.line-container,
.thanh-ton-item {
  position: absolute;
  top: 221px;
  left: 310px;
  width: 1152px;
  height: 41px;
}
.thanh-ton-item {
  top: 736px;
  left: 332px;
  background-color: #47c54c;
  width: 781px;
  height: 51px;
}
.thanh-ton2 {
  position: absolute;
  top: 742px;
  left: 615px;
  font-size: var(--font-size-13xl);
}
.group-child85 {
  position: absolute;
  top: 0;
  left: calc(50% - 576.5px);
  background-color: var(--color-black);
  border: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 1153px;
  height: 298px;
}
.ch,
.mua-xong-cc {
  margin-block-start: 0;
  margin-block-end: 9px;
}
.ch {
  font-size: var(--font-size-5xl);
  color: var(--color-red-400);
}
.mua-xong-cc {
  letter-spacing: 0.05em;
}
.khng-a-thng {
  margin: 0;
  letter-spacing: 0.05em;
}
.ch-mua-container,
.sau-khi-thanh {
  position: absolute;
  top: 126px;
  left: 35px;
}
.sau-khi-thanh {
  top: 52px;
  font-size: var(--font-size-2xl);
  display: inline-block;
  width: 1078px;
}
.rectangle-parent64 {
  position: absolute;
  top: 819px;
  left: calc(50% - 577px);
  width: 1153px;
  height: 298px;
}
.image-1-icon {
  position: absolute;
  top: 278px;
  left: 1143px;
  width: 319px;
  height: 535px;
  object-fit: cover;
}
.footer-child9 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1780px;
  height: 187px;
}
.footer23 {
  position: absolute;
  top: 54px;
  left: 509px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--color-black);
  width: 76px;
  height: 27px;
}
.hfg-1-111 {
  position: absolute;
  top: 18px;
  left: 84px;
  width: 257px;
  height: 142.3px;
  object-fit: cover;
}
.website-cho-thu11 {
  margin: 0;
}
.uy-tn-ngoi11 {
  margin: 0;
  white-space: pre-wrap;
}
.nim-tin-ca11,
.website-cho-thu-container11 {
  position: absolute;
  top: 93px;
  left: 378px;
  display: inline-block;
  width: 338px;
}
.nim-tin-ca11 {
  top: 43px;
}
.mask-1-icon11 {
  position: absolute;
  top: 66px;
  left: 1350px;
  width: 249px;
  height: 66px;
  object-fit: cover;
}
.chat-vi-chng11 {
  position: absolute;
  top: 90px;
  left: 1425px;
  display: inline-block;
  width: 151px;
  height: 15.8px;
}
.h-tr-khch11,
.sn-phm11,
.thng-tin12 {
  position: absolute;
  top: 26px;
  left: 1348px;
  font-size: var(--font-size-xl);
}
.sn-phm11,
.thng-tin12 {
  left: 1068px;
}
.thng-tin12 {
  left: 773px;
}
.ti-khon-lin22 {
  position: absolute;
  top: 57px;
  left: 1074px;
}
.ti-khon-teamfight11,
.ti-khon-valorant11 {
  position: absolute;
  top: 81px;
  left: 1074px;
}
.ti-khon-valorant11 {
  top: 106px;
}
.chnh-sch-bo22,
.chnh-sch-bo23,
.hng-dn-np11 {
  position: absolute;
  top: 57px;
  left: 780px;
}
.chnh-sch-bo23,
.hng-dn-np11 {
  top: 81px;
}
.hng-dn-np11 {
  top: 105px;
}
.footer22,
.ti-khon-lin23 {
  position: absolute;
  top: 130px;
  left: 1074px;
}
.footer22 {
  top: 1137px;
  left: 0;
  width: 1780px;
  height: 187px;
  font-size: var(--font-size-sm);
}
.group-child86 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1772px;
  height: 151.2px;
}
.hfg-3-111 {
  position: absolute;
  top: 12px;
  left: 242px;
  width: 140px;
  height: 128.2px;
  object-fit: cover;
}
.group-child87,
.rectangle-parent65 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1772px;
  height: 151.2px;
}
.group-child87 {
  border-radius: var(--br-9xl);
  background-color: var(--color-white);
  width: 709px;
  height: 42px;
}
.search-1-icon11 {
  position: absolute;
  top: 6px;
  left: 660px;
  width: 31px;
  height: 31px;
  object-fit: cover;
}
.rectangle-parent66 {
  position: absolute;
  top: 22px;
  left: 531px;
  width: 709px;
  height: 42px;
}
.hng-dn11,
.trang-ch11 {
  position: absolute;
  top: 0;
  left: 0;
}
.hng-dn11 {
  left: 185px;
}
.mini-game11,
.np-tin11,
.tin-tc11 {
  position: absolute;
  top: 0;
  left: 382px;
}
.mini-game11,
.tin-tc11 {
  left: 735px;
}
.mini-game11 {
  left: 547px;
}
.trang-ch-parent9 {
  position: absolute;
  top: 96px;
  left: 476px;
  width: 819px;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.group-child88 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 105px;
  height: 28px;
}
.ng-nhp11 {
  position: absolute;
  top: 6px;
  left: 16px;
}
.group-child89,
.rectangle-parent67 {
  position: absolute;
  width: 105px;
  height: 28px;
}
.rectangle-parent67 {
  top: 29px;
  left: 1355px;
  cursor: pointer;
  color: var(--color-red-300);
}
.group-child89 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
}
.ng-k14 {
  position: absolute;
  top: 6px;
  left: 23px;
}
.rectangle-parent68 {
  position: absolute;
  top: 29px;
  left: 1488px;
  width: 105px;
  height: 28px;
  cursor: pointer;
}
.header11 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1772px;
  height: 151.2px;
  font-size: var(--font-size-sm);
}
.thanh-ton1 {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1324px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
