.group-child12 {
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #9f9b9b;
  box-sizing: border-box;
  width: 352px;
  height: 394px;
}
.x2160-project-riven-lol-league-icon1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 352px;
  height: 311px;
  object-fit: cover;
}
.xem-chi-tit-item {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-tomato-200);
  width: 118px;
  height: 33px;
}
.h,
.xem-chi-tit2 {
  position: absolute;
  top: 6px;
  left: 11px;
}
.xem-chi-tit2 {
  top: 270px;
  left: 228px;
  width: 118px;
  height: 33px;
}
.tn {
  position: absolute;
  top: 316px;
  left: 16px;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.rectangle-parent11 {
  position: absolute;
  top: 363px;
  left: 243px;
  width: 352px;
  height: 394px;
  font-size: var(--font-size-lg);
}
.footer-inner {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1780px;
  height: 187px;
}
.footer5 {
  position: absolute;
  top: 54px;
  left: 509px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--color-black);
  width: 76px;
  height: 27px;
}
.hfg-1-12 {
  position: absolute;
  top: 18px;
  left: 84px;
  width: 257px;
  height: 142.3px;
  object-fit: cover;
}
.website-cho-thu2 {
  margin: 0;
}
.uy-tn-ngoi2 {
  margin: 0;
  white-space: pre-wrap;
}
.nim-tin-ca2,
.website-cho-thu-container2 {
  position: absolute;
  top: 93px;
  left: 378px;
  display: inline-block;
  width: 338px;
}
.nim-tin-ca2 {
  top: 43px;
}
.mask-1-icon2 {
  position: absolute;
  top: 66px;
  left: 1350px;
  width: 249px;
  height: 66px;
  object-fit: cover;
}
.chat-vi-chng2 {
  position: absolute;
  top: 90px;
  left: 1425px;
  display: inline-block;
  width: 151px;
  height: 15.8px;
}
.h-tr-khch2,
.sn-phm2,
.thng-tin2 {
  position: absolute;
  top: 26px;
  left: 1348px;
  font-size: var(--font-size-xl);
}
.sn-phm2,
.thng-tin2 {
  left: 1068px;
}
.thng-tin2 {
  left: 773px;
}
.ti-khon-lin4 {
  position: absolute;
  top: 57px;
  left: 1074px;
}
.ti-khon-teamfight2,
.ti-khon-valorant2 {
  position: absolute;
  top: 81px;
  left: 1074px;
}
.ti-khon-valorant2 {
  top: 106px;
}
.chnh-sch-bo4,
.chnh-sch-bo5,
.hng-dn-np2 {
  position: absolute;
  top: 57px;
  left: 780px;
}
.chnh-sch-bo5,
.hng-dn-np2 {
  top: 81px;
}
.hng-dn-np2 {
  top: 105px;
}
.footer4,
.ti-khon-lin5 {
  position: absolute;
  top: 130px;
  left: 1074px;
}
.footer4 {
  top: 1297px;
  left: 0;
  width: 1780px;
  height: 187px;
  font-size: var(--font-size-sm);
}
.group-child13 {
  background-color: var(--color-black);
}
.group-child13,
.group-child14,
.header-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 151.2px;
}
.group-child14 {
  border-radius: var(--br-9xl);
  background-color: var(--color-white);
  width: 712.2px;
  height: 42px;
}
.search-1-icon2 {
  position: absolute;
  top: 6px;
  left: 663px;
  width: 31.1px;
  height: 31px;
  object-fit: cover;
}
.rectangle-parent12 {
  position: absolute;
  top: 22px;
  left: 533.4px;
  width: 712.2px;
  height: 42px;
}
.hng-dn2,
.mini-game2,
.np-tin2,
.tin-tc2,
.trang-ch2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 118.5px;
}
.hng-dn2,
.mini-game2,
.np-tin2,
.tin-tc2 {
  left: 185.9px;
  width: 130.6px;
}
.mini-game2,
.np-tin2,
.tin-tc2 {
  left: 383.8px;
  width: 98.4px;
}
.mini-game2,
.tin-tc2 {
  left: 738.4px;
  width: 84.4px;
}
.mini-game2 {
  left: 549.5px;
  width: 121.5px;
}
.trang-ch-container {
  position: absolute;
  top: 96px;
  left: 478.1px;
  width: 822.7px;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.group-child15 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 105.5px;
  height: 28px;
}
.ng-nhp2 {
  position: absolute;
  top: 6px;
  left: 16.1px;
  display: inline-block;
  width: 74.3px;
}
.group-child16,
.rectangle-parent13 {
  position: absolute;
  width: 105.5px;
  height: 28px;
}
.rectangle-parent13 {
  top: 29px;
  left: 1361.1px;
  cursor: pointer;
  color: var(--color-red-300);
}
.group-child16 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
}
.ng-k5 {
  position: absolute;
  top: 6px;
  left: 23.1px;
  display: inline-block;
  width: 56.3px;
}
.rectangle-parent14 {
  position: absolute;
  top: 29px;
  left: 1494.7px;
  width: 105.5px;
  height: 28px;
  cursor: pointer;
}
.hfg-3-12 {
  position: absolute;
  top: 12px;
  left: 243.1px;
  width: 140.6px;
  height: 128.2px;
  object-fit: cover;
}
.header2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 151.2px;
  font-size: var(--font-size-sm);
}
.thu-ngi-chi-child {
  position: absolute;
  top: 245px;
  left: 243px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 136px;
  height: 40px;
}
.th-loi {
  position: absolute;
  top: 251px;
  left: 256px;
  color: var(--color-black);
}
.thu-ngi-chi-item {
  position: absolute;
  top: 249px;
  left: 518px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 72px;
  height: 32px;
}
.khong-gi,
.t {
  position: absolute;
  top: 251px;
  left: 392px;
  color: var(--color-black);
}
.t {
  left: 539px;
  color: var(--color-gray-200);
}
.thu-ngi-chi-inner {
  position: absolute;
  top: 249px;
  left: 595px;
  border-radius: var(--br-xl);
  border: 1px solid var(--color-gray-100);
  box-sizing: border-box;
  width: 72px;
  height: 32px;
}
.n {
  position: absolute;
  top: 251px;
  left: 609px;
  color: var(--color-gray-200);
}
.group-child17 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-tomato-200);
  width: 164px;
  height: 40px;
}
.search-2-icon,
.tm-kim {
  position: absolute;
  top: 6px;
  left: 51px;
}
.search-2-icon {
  top: 7px;
  left: 17px;
  width: 26px;
  height: 26px;
  object-fit: cover;
}
.rectangle-parent15 {
  position: absolute;
  top: 245px;
  left: 681px;
  width: 164px;
  height: 40px;
  color: #fff4f4;
}
.m-t {
  position: absolute;
  top: 713px;
  left: 259px;
  font-size: 15px;
  color: var(--color-black);
}
.thu-ngi-chi {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1484px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xl);
  color: var(--color-white);
  font-family: var(--font-inter);
}
