.footer-child6 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-black);
  width: 1780px;
  height: 187px;
}
.footer17 {
  position: absolute;
  top: 54px;
  left: 509px;
  font-size: var(--font-size-5xl);
  display: inline-block;
  color: var(--color-black);
  width: 76px;
  height: 27px;
}
.hfg-1-18 {
  position: absolute;
  top: 18px;
  left: 84px;
  width: 257px;
  height: 142.3px;
  object-fit: cover;
}
.website-cho-thu8 {
  margin: 0;
}
.uy-tn-ngoi8 {
  margin: 0;
  white-space: pre-wrap;
}
.nim-tin-ca8,
.website-cho-thu-container8 {
  position: absolute;
  top: 93px;
  left: 378px;
  display: inline-block;
  width: 338px;
}
.nim-tin-ca8 {
  top: 43px;
}
.mask-1-icon8 {
  position: absolute;
  top: 66px;
  left: 1350px;
  width: 249px;
  height: 66px;
  object-fit: cover;
}
.chat-vi-chng8 {
  position: absolute;
  top: 90px;
  left: 1425px;
  display: inline-block;
  width: 151px;
  height: 15.8px;
}
.h-tr-khch8,
.sn-phm8,
.thng-tin9 {
  position: absolute;
  top: 26px;
  left: 1348px;
  font-size: var(--font-size-xl);
}
.sn-phm8,
.thng-tin9 {
  left: 1068px;
}
.thng-tin9 {
  left: 773px;
}
.ti-khon-lin16,
.ti-khon-teamfight8 {
  position: absolute;
  top: 57px;
  left: 1074px;
}
.ti-khon-teamfight8 {
  top: 81px;
}
.chnh-sch-bo16,
.ti-khon-valorant8 {
  position: absolute;
  top: 106px;
  left: 1074px;
}
.chnh-sch-bo16 {
  top: 57px;
  left: 780px;
}
.chnh-sch-bo17,
.hng-dn-np8,
.ti-khon-lin17 {
  position: absolute;
  top: 81px;
  left: 780px;
}
.hng-dn-np8,
.ti-khon-lin17 {
  top: 105px;
}
.ti-khon-lin17 {
  top: 130px;
  left: 1074px;
}
.footer-wrapper2,
.footer16 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 187px;
}
.footer-wrapper2 {
  top: 982px;
  left: -1px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.trang-chi-tit-ti-khon-child {
  position: absolute;
  top: 294px;
  left: 0;
  background-color: var(--color-whitesmoke-100);
  width: 1780px;
  height: 688px;
}
.group-child60 {
  background-color: var(--color-black);
}
.group-child60,
.group-child61,
.header-inner6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 151.2px;
}
.group-child61 {
  border-radius: var(--br-9xl);
  background-color: var(--color-white);
  width: 712.2px;
  height: 42px;
}
.search-1-icon8 {
  position: absolute;
  top: 6px;
  left: 663px;
  width: 31.1px;
  height: 31px;
  object-fit: cover;
}
.rectangle-parent53 {
  position: absolute;
  top: 22px;
  left: 533.4px;
  width: 712.2px;
  height: 42px;
}
.hng-dn8,
.mini-game8,
.np-tin8,
.tin-tc8,
.trang-ch8 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 118.5px;
}
.hng-dn8,
.mini-game8,
.np-tin8,
.tin-tc8 {
  left: 185.9px;
  width: 130.6px;
}
.mini-game8,
.np-tin8,
.tin-tc8 {
  left: 383.8px;
  width: 98.4px;
}
.mini-game8,
.tin-tc8 {
  left: 738.4px;
  width: 84.4px;
}
.mini-game8 {
  left: 549.5px;
  width: 121.5px;
}
.trang-ch-parent6 {
  position: absolute;
  top: 96px;
  left: 478.1px;
  width: 822.7px;
  height: 29px;
  font-size: var(--font-size-5xl);
}
.group-child62 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  width: 105.5px;
  height: 28px;
}
.ng-nhp8 {
  position: absolute;
  top: 6px;
  left: 16.1px;
  display: inline-block;
  width: 74.3px;
}
.group-child63,
.rectangle-parent54 {
  position: absolute;
  width: 105.5px;
  height: 28px;
}
.rectangle-parent54 {
  top: 29px;
  left: 1361.1px;
  cursor: pointer;
  color: var(--color-red-300);
}
.group-child63 {
  top: 0;
  left: 0;
  border-radius: var(--br-3xs);
  background-color: var(--color-red-200);
}
.ng-k11 {
  position: absolute;
  top: 6px;
  left: 23.1px;
  display: inline-block;
  width: 56.3px;
}
.rectangle-parent55 {
  position: absolute;
  top: 29px;
  left: 1494.7px;
  width: 105.5px;
  height: 28px;
  cursor: pointer;
}
.hfg-3-18 {
  position: absolute;
  top: 12px;
  left: 243.1px;
  width: 140.6px;
  height: 128.2px;
  object-fit: cover;
}
.header8 {
  position: absolute;
  top: 0;
  left: 0;
  width: 1780px;
  height: 151.2px;
  font-size: var(--font-size-sm);
  color: var(--color-white);
}
.ti-khon1 {
  position: absolute;
  top: 224px;
  left: 243px;
  font-size: var(--font-size-21xl);
}
.chi-tit-ti {
  position: absolute;
  top: 5px;
  left: 45.8px;
  display: inline-block;
  width: 198.2px;
}
.profile-user-1-icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 38.8px;
  height: 39px;
  object-fit: cover;
}
.chi-tit,
.chi-tit-ti-khon-parent {
  position: absolute;
  top: 0;
  left: 0;
  width: 244px;
  height: 39px;
}
.chi-tit {
  top: 317px;
  left: 261px;
  color: var(--color-tomato-200);
}
.image-4-icon,
.lch-s-giao {
  position: absolute;
  top: 5px;
  left: 46px;
}
.image-4-icon {
  top: 0;
  left: 0;
  width: 39px;
  height: 39px;
  object-fit: cover;
}
.lch-s,
.ng-xut-child {
  position: absolute;
  top: 375px;
  left: 261px;
  width: 244px;
  height: 39px;
}
.ng-xut-child {
  top: 0;
  left: 0;
  border-radius: var(--br-smi);
  background-color: var(--color-tomato-200);
  width: 182px;
  height: 52px;
}
.ng-xut1 {
  position: absolute;
  top: 14px;
  left: 60px;
  display: inline-block;
  width: 100px;
  height: 24px;
}
.turn-off-1-icon {
  position: absolute;
  top: 10px;
  left: 22px;
  width: 32px;
  height: 32px;
  object-fit: cover;
}
.ng-xut {
  position: absolute;
  top: 810px;
  left: 261px;
  width: 182px;
  height: 52px;
  font-size: var(--font-size-lgi);
  color: var(--color-white);
}
.group-child64,
.ti-khon2 {
  position: absolute;
  top: 0;
  left: 0;
}
.group-child64 {
  top: 38px;
  border-radius: var(--br-5xs);
  border: 3px solid var(--color-tomato-200);
  box-sizing: border-box;
  width: 352px;
  height: 48px;
}
.email-parent,
.s-in-thoi-parent,
.ti-khon-parent {
  position: absolute;
  top: 322px;
  left: 633px;
  width: 352px;
  height: 86px;
}
.email-parent,
.s-in-thoi-parent {
  top: 429px;
}
.s-in-thoi-parent {
  top: 536px;
}
.trang-chi-tit-ti-khon-item {
  position: absolute;
  top: 315px;
  left: 583px;
  border-right: 4px solid var(--color-tomato-200);
  box-sizing: border-box;
  width: 4px;
  height: 545px;
}
.trang-chi-tit-ti-khon {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1165px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-5xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
