<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/views/css/global.css" />
    <link rel="stylesheet" href="/views/css/chi-tit-nick-game.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="chi-tit-nick-game">
    <div>
    <b class="gi-1235" th:text="${acc.price}" >Giá </b>
    </div>
      
      <div class="line-parent">
        <div class="line-div"></div>
        <img class="polygon-icon" alt="" src="/image/polygon-1.svg" />
      </div>
      <div class="line-group">
        <div class="line-div"></div>
        <img class="polygon-icon" alt="" src="/image/polygon-1.svg" />
      </div>
      <div class="chi-tit-nick-game-child"></div>
      <b class="rank-lh-vng-container">
        <span>RANK LH:</span>
        <span class="vng-ii"> VÀNG II </span>
      </b>
      <b class="m-ti-khon-container">
        <span>MÃ TÀI KHOẢN : </span>
        <span class="vng-ii">S456AS</span>
      </b>
      <b class="khung-bilgewater">
        <span>KHUNG:</span>
        <span class="vng-ii"> BILGEWATER</span>
      </b>
      <b class="tng-558">
        <span>TƯỚNG: </span>
        <span class="vng-ii">558</span>
      </b>
      <b class="trang-phc-274-container">
        <span>TRANG PHỤC: </span>
        <span class="vng-ii">274</span>
      </b>
     <a th:href="@{/pay/{id}(id=${acc.nameaccount})}" class="thanh-ton" style="text-decoration: none; color:white">Thanh Toán</a>
      <img class="tuong-1-icon" alt="" th:src="@{/image/{image}(image=${acc.image1})}"/>

      <img
        class="thit-k-cha-c-tn-1"
        alt=""
        th:src="@{/image/{image}(image=${acc.image3})}"
      />

      <img class="trangphuc-1-icon" alt="" th:src="@{/image/{image}(image=${acc.image2})}" />

      <div class="footer20">
        <div class="footer-child8"></div>
        <b class="footer21">Footer</b>
        <img class="hfg-1-110" alt="" src="/image/hfg-1-1@2x.png" />

        <b class="website-cho-thu-container10">
          <p class="website-cho-thu10">
            Website cho thuê, mua bán account game
          </p>
          <p class="uy-tn-ngoi10">
            uy tín ngoài ra còn cung cấp dịch vụ cho thuê người chơi cùng.
          </p>
        </b>
        <b class="nim-tin-ca10"
          >Niềm tin của khách hàng là tài sản quý giá nhất của chúng tôi.</b
        >
        <img class="mask-1-icon10" alt="" src="/image/mask-1@2x.png" />

        <b class="chat-vi-chng10">CHAT VỚI CHÚNG TÔI</b>
        <b class="h-tr-khch10">HỖ TRỢ KHÁCH HÀNG</b>
        <b class="sn-phm10">SẢN PHẨM</b>
        <b class="thng-tin11">THÔNG TIN</b>
        <b class="ti-khon-lin20">&gt; Tài khoản Liên Minh</b>
        <b class="ti-khon-teamfight10">&gt; Tài khoản Teamfight Tactics</b>
        <b class="ti-khon-valorant10">&gt; Tài khoản Valorant</b>
        <b class="chnh-sch-bo20">&gt; Chính sách bảo mật</b>
        <b class="chnh-sch-bo21">&gt; Chính sách bảo mật</b>
        <b class="hng-dn-np10">&gt; Hướng dẫn nạp tiền</b>
        <b class="ti-khon-lin21">&gt; Tài khoản Liên Quân Mobile</b>
      </div>
      <div class="header10">
        <div class="rectangle-parent59">
          <div class="group-child74"></div>
          <a th:href="@{|/index|}"><img class="hfg-3-110" alt="" src="/image/hfg-3-11@2x.png" /></a>
        </div>
        <div class="rectangle-parent60">
          <div class="group-child75"></div>
          <img class="search-1-icon10" alt="" src="/image/search-11@2x.png" />
        </div>
        <div class="trang-ch-parent8">
          <b class="trang-ch10">Trang chủ</b>
          <b class="hng-dn10">Hướng dẫn </b>
          <b class="np-tin10">Nạp tiền</b>
          <b class="tin-tc10">Tin tức</b>
          <b class="mini-game10">Mini game</b>
        </div>
        <div class="rectangle-parent61" id="groupContainer3">
        <a th:href="@{|/index/login|}" style="color:red">
          <div class="group-child76"></div>
          <b class="ng-nhp10">Đăng nhập</b></a>
        </div>
        <div class="rectangle-parent62" id="groupContainer4">
        <a th:href="@{|/index/signup|}" style="color:white">
          <div class="group-child77"></div>
          <b class="ng-k13">Đăng ký</b></a>
        </div>
      </div>
    </div>
  </body>
</html>
