<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/views/css/global.css" />
    <link rel="stylesheet" href="/views/css/trang-chi-tit-ti-khon.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="trang-chi-tit-ti-khon">
      <div class="footer-wrapper2">
        <div class="footer16">
          <div class="footer-child6"></div>
          <b class="footer17">Footer</b>
          <img class="hfg-1-18" alt="" src="/image/hfg-1-1@2x.png" />

          <b class="website-cho-thu-container8">
            <p class="website-cho-thu8">
              Website cho thuê, mua bán account game
            </p>
            <p class="uy-tn-ngoi8">
              uy tín ngoài ra còn cung cấp dịch vụ cho thuê người chơi cùng.
            </p>
          </b>
          <b class="nim-tin-ca8"
            >Niềm tin của khách hàng là tài sản quý giá nhất của chúng tôi.</b
          >
          <img class="mask-1-icon8" alt="" src="/image/mask-1@2x.png" />

          <b class="chat-vi-chng8">CHAT VỚI CHÚNG TÔI</b>
          <b class="h-tr-khch8">HỖ TRỢ KHÁCH HÀNG</b>
          <b class="sn-phm8">SẢN PHẨM</b>
          <b class="thng-tin9">THÔNG TIN</b>
          <b class="ti-khon-lin16">&gt; Tài khoản Liên Minh</b>
          <b class="ti-khon-teamfight8">&gt; Tài khoản Teamfight Tactics</b>
          <b class="ti-khon-valorant8">&gt; Tài khoản Valorant</b>
          <b class="chnh-sch-bo16">&gt; Chính sách bảo mật</b>
          <b class="chnh-sch-bo17">&gt; Chính sách bảo mật</b>
          <b class="hng-dn-np8">&gt; Hướng dẫn nạp tiền</b>
          <b class="ti-khon-lin17">&gt; Tài khoản Liên Quân Mobile</b>
        </div>
      </div>
      <div class="trang-chi-tit-ti-khon-child"></div>
      <div class="header8">
        <div class="header-inner6">
          <div class="group-child60"></div>
        </div>
        <div class="rectangle-parent53">
          <div class="group-child61"></div>
          <img class="search-1-icon8" alt="" src="/image/search-1@2x.png" />
        </div>
        <div class="trang-ch-parent6">
          <b class="trang-ch8">Trang chủ</b>
          <b class="hng-dn8">Hướng dẫn </b>
          <b class="np-tin8">Nạp tiền</b>
          <b class="tin-tc8">Tin tức</b>
          <b class="mini-game8">Mini game</b>
        </div>
        <div class="rectangle-parent54" id="groupContainer3">
          <div class="group-child62"></div>
          <b class="ng-nhp8">Đăng nhập</b>
        </div>
        <div class="rectangle-parent55" id="groupContainer4">
          <div class="group-child63"></div>
          <b class="ng-k11">Đăng ký</b>
        </div>
        <img class="hfg-3-18" alt="" src="/image/hfg-3-1@2x.png" />
      </div>
      <b class="ti-khon1">Tài khoản</b>
      <div class="chi-tit">
        <div class="chi-tit-ti-khon-parent">
          <b class="chi-tit-ti">Chi tiết tài khoản</b>
          <img
            class="profile-user-1-icon"
            alt=""
            src="/image/profileuser-1@2x.png"
          />
        </div>
      </div>
      <div class="lch-s">
        <b class="lch-s-giao">Lịch sử giao dịch</b>
        <img class="image-4-icon" alt="" src="/image/image-4@2x.png" />
      </div>
      <div class="ng-xut">
        <div class="ng-xut-child"></div>
        <b class="ng-xut1">Đăng xuất</b>
        <img class="turn-off-1-icon" alt="" src="/image/turnoff-1@2x.png" />
      </div>
      <div class="ti-khon-parent">
        <b class="ti-khon2">Tài khoản</b>
        <div class="group-child64"></div>
      </div>
      <div class="email-parent">
        <b class="ti-khon2">Email</b>
        <div class="group-child64"></div>
      </div>
      <div class="s-in-thoi-parent">
        <b class="ti-khon2">Số điện thoại</b>
        <div class="group-child64"></div>
      </div>
      <div class="trang-chi-tit-ti-khon-item"></div>
    </div>
  </body>
</html>
