<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/views/css/global.css" />
    <link rel="stylesheet" href="/views/css/lch-s-giao-dch.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="lch-s-giao-dch">
      <div class="footer-wrapper3">
        <div class="footer18">
          <div class="footer-child7"></div>
          <b class="footer19">Footer</b>
          <img class="hfg-1-19" alt="" src="/image/hfg-1-1@2x.png" />

          <b class="website-cho-thu-container9">
            <p class="website-cho-thu9">
              Website cho thuê, mua bán account game
            </p>
            <p class="uy-tn-ngoi9">
              uy tín ngoài ra còn cung cấp dịch vụ cho thuê người chơi cùng.
            </p>
          </b>
          <b class="nim-tin-ca9"
            >Niềm tin của khách hàng là tài sản quý giá nhất của chúng tôi.</b
          >
          <img class="mask-1-icon9" alt="" src="/image/mask-1@2x.png" />

          <b class="chat-vi-chng9">CHAT VỚI CHÚNG TÔI</b>
          <b class="h-tr-khch9">HỖ TRỢ KHÁCH HÀNG</b>
          <b class="sn-phm9">SẢN PHẨM</b>
          <b class="thng-tin10">THÔNG TIN</b>
          <b class="ti-khon-lin18">&gt; Tài khoản Liên Minh</b>
          <b class="ti-khon-teamfight9">&gt; Tài khoản Teamfight Tactics</b>
          <b class="ti-khon-valorant9">&gt; Tài khoản Valorant</b>
          <b class="chnh-sch-bo18">&gt; Chính sách bảo mật</b>
          <b class="chnh-sch-bo19">&gt; Chính sách bảo mật</b>
          <b class="hng-dn-np9">&gt; Hướng dẫn nạp tiền</b>
          <b class="ti-khon-lin19">&gt; Tài khoản Liên Quân Mobile</b>
        </div>
      </div>
      <div class="lch-s-giao-dch-child"></div>
      <div class="header9">
        <div class="header-inner7">
          <div class="group-child67"></div>
        </div>
        <div class="rectangle-parent56">
          <div class="group-child68"></div>
          <img class="search-1-icon9" alt="" src="/image/search-1@2x.png" />
        </div>
        <div class="trang-ch-parent7">
          <b class="trang-ch9">Trang chủ</b>
          <b class="hng-dn9">Hướng dẫn </b>
          <b class="np-tin9">Nạp tiền</b>
          <b class="tin-tc9">Tin tức</b>
          <b class="mini-game9">Mini game</b>
        </div>
        <div class="rectangle-parent57" id="groupContainer3">
          <div class="group-child69"></div>
          <b class="ng-nhp9">Đăng nhập</b>
        </div>
        <div class="rectangle-parent58" id="groupContainer4">
          <div class="group-child70"></div>
          <b class="ng-k12">Đăng ký</b>
        </div>
        <img class="hfg-3-19" alt="" src="/image/hfg-3-1@2x.png" />
      </div>
      <b class="ti-khon3">Tài khoản</b>
      <div class="chi-tit1">
        <div class="chi-tit-ti-khon-group">
          <b class="chi-tit-ti1">Chi tiết tài khoản</b>
          <img
            class="profile-user-1-icon1"
            alt=""
            src="/image/profileuser-11@2x.png"
          />
        </div>
      </div>
      <div class="lch-s1">
        <b class="lch-s-giao1">Lịch sử giao dịch</b>
        <img class="image-4-icon1" alt="" src="/image/image-41@2x.png" />
      </div>
      <div class="ng-xut2">
        <div class="ng-xut-item"></div>
        <b class="ng-xut3">Đăng xuất</b>
        <img class="turn-off-1-icon1" alt="" src="/image/turnoff-1@2x.png" />
      </div>
      <div class="lch-s-giao-dch-parent">
        <b class="lch-s-giao2">Lịch sử giao dịch</b>
        <div class="group-child71"></div>
      </div>
      <div class="lch-s-giao-dch-item"></div>
    </div>
  </body>
</html>
