<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">


<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="initial-scale=1, width=device-width" />

  <link rel="stylesheet" href="/views/css/global.css" />
  <link rel="stylesheet" href="/views/css/trang-ch.css" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
  <div class="trang-ch13">
    <div class="trang-ch-child"></div>
    <b class="dng-ch-chy">Dòng chữ chạy giảm giá, thông báo</b>
    <div class="trang-ch-item"></div>
    <div class="lin-quan">
      <div class="lin-qun-mobile-parent">
        <b class="lin-qun-mobile">LIÊN QUÂN MOBILE</b>
        <div class="group-child99"></div>
      </div>
      <img class="icon" alt="" src="/image/1270382-1-1@2x.png" />

      <div class="phn-chia-gi">
        <div class="ezgifcom-video-to-gif-convert-parent">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png"/>
          
          <b class="nick">NICK GIÁ RẺ</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
        </div>
        <div class="ezgifcom-video-to-gif-convert-group">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick-tm-trung">NICK TẦM TRUNG</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
        <div class="ezgifcom-video-to-gif-convert-container">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick-cao-cp">NICK CAO CẤP</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
      </div>
    </div>
    <img class="banner-1-icon" alt="" src="/image/banner-1@2x.png" />
	<!--  -->
    <div class="footer26">
      <div class="footer-child11"></div>
      <b class="footer27">Footer</b>
      <img class="hfg-1-113" alt="" src="/image/hfg-1-1@2x.png" />

      <b class="website-cho-thu-container13">
        <p class="website-cho-thu13">
          Website cho thuê, mua bán account game
        </p>
        <p class="uy-tn-ngoi13">
          uy tín ngoài ra còn cung cấp dịch vụ cho thuê người chơi cùng.
        </p>
      </b>
      <b class="nim-tin-ca13">Niềm tin của khách hàng là tài sản quý giá nhất của chúng tôi.</b>
      <img class="mask-1-icon13" alt="" src="/image/mask-1@2x.png" />

      <b class="chat-vi-chng13">CHAT VỚI CHÚNG TÔI</b>
      <b class="h-tr-khch13">HỖ TRỢ KHÁCH HÀNG</b>
      <b class="sn-phm13">SẢN PHẨM</b>
      <b class="thng-tin14">THÔNG TIN</b>
      <b class="ti-khon-lin26">&gt; Tài khoản Liên Minh</b>
      <b class="ti-khon-teamfight13">&gt; Tài khoản Teamfight Tactics</b>
      <b class="ti-khon-valorant13">&gt; Tài khoản Valorant</b>
      <b class="chnh-sch-bo26">&gt; Chính sách bảo mật</b>
      <b class="chnh-sch-bo27">&gt; Chính sách bảo mật</b>
      <b class="hng-dn-np13">&gt; Hướng dẫn nạp tiền</b>
      <b class="ti-khon-lin27">&gt; Tài khoản Liên Quân Mobile</b>
    </div>
    <div class="lmht">
      <div class="lmht-child"></div>
      <div class="yone-1-parent">
        <img class="icon" alt="" src="/image/yone-1@2x.png" />

        <div class="lin-minh-huyn-thoi-parent">
          <b class="lin-minh-huyn4">LIÊN MINH HUYỀN THOẠI</b>
          <div class="group-child103"></div>
        </div>
      </div>
      <div class="phn-chia-gi1">
        <div class="ezgifcom-video-to-gif-convert-parent">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick">NICK GIÁ RẺ</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
        <div class="ezgifcom-video-to-gif-convert-group">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick-tm-trung">NICK TẦM TRUNG</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
        <div class="ezgifcom-video-to-gif-convert-container">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick-cao-cp">NICK CAO CẤP</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
      </div>
    </div>
    <div class="tft">
      <div class="lmht-child"></div>
      <div class="tft1">
        <div class="lin-minh-huyn-thoi-parent">
          <b class="teamfight-tactics">TEAMFIGHT TACTICS</b>
          <div class="group-child103"></div>
        </div>
        <img class="teamfighttactics-tft-apac-laun-icon" alt=""
          src="/image/teamfighttactics-tft-apac-launchdate-keyvisual-littlelegends1024x5761-1@2x.png" />
      </div>
      <div class="phn-chia-gi2">
        <div class="ezgifcom-video-to-gif-convert-parent">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick">NICK GIÁ RẺ</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
        <div class="ezgifcom-video-to-gif-convert-group">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick-tm-trung">NICK TẦM TRUNG</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
        <div class="ezgifcom-video-to-gif-convert-container">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick-cao-cp">NICK CAO CẤP</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
      </div>
    </div>
    <div class="valorant4">
      <div class="lmht-child"></div>
      <div class="valorant5">
        <img class="r-1-1" alt="" src="/image/111111r-1-1@2x.png" />

        <div class="lin-minh-huyn-thoi-parent">
          <b class="valorant6">VALORANT</b>
          <div class="group-child103"></div>
        </div>
      </div>
      <div class="phn-chia-gi3">
        <div class="ezgifcom-video-to-gif-convert-parent">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick">NICK GIÁ RẺ</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
        <div class="ezgifcom-video-to-gif-convert-group">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick-tm-trung">NICK TẦM TRUNG</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
        <div class="ezgifcom-video-to-gif-convert-container">
          <img class="ezgifcom-video-to-gif-convert-icon" alt=""
            src="/image/062511ezgifcomvideotogifconverter-1@2x.png" />

          <b class="nick-cao-cp">NICK CAO CẤP</b>
          <a href="#">

            <a href="/index/list" class="xem-ngay">XEM NGAY</a>
          </a>
    
        </div>
      </div>
    </div>
    <div class="khung-thu-ti-khon-ng-chi">
      <div class="banasdasdner-1-parent">
        <img class="banasdasdner-1-icon" alt="" src="/image/banasdasdner-1@2x.png" />

        <div class="group-child115"></div>
      </div>
      <div class="thu-game" id="thuGameContainer">
        <b class="thu-ti-khon">THUÊ TÀI KHOẢN</b>
        <div class="thu-game-child"></div>
      </div>
      <div class="thu-ng-chi">
        <b class="tm-ngi-chi">TÌM NGƯỜI CHƠI</b>
        <div class="thu-game-child"></div>
      </div>
    </div>
    <div class="header13">
      <div class="rectangle-parent75">
        <div class="group-child116"></div>
        <img class="hfg-3-113" alt="" src="/image/hfg-3-11@2x.png" />
      </div>
      <div class="rectangle-parent76">
        <div class="group-child117"></div>
        <img class="search-1-icon13" alt="" src="/image/search-11@2x.png" />
      </div>
      <div class="trang-ch-parent11">
        <a href="#" class="text-light text-decoration-none trang-ch14">Trang chủ</a>
        <a href="#" class="text-light text-decoration-none hng-dn13">Hướng dẫn </a>
        <a href="#" class="text-light text-decoration-none np-tin13">Nạp tiền</a>
        <a href="#" class="text-light text-decoration-none tin-tc13">Tin tức</a>
        <a th:href="@{|/index/list|}" class="text-light text-decoration-none mini-game13">Danh sách</a>
      </div>
      <div class="rectangle-parent77" id="groupContainer3">
      <a th:href="@{|/index/login|}" style="color:red">
        <div class="group-child118"></div>
        <b class="ng-nhp13">Đăng nhập</b>
        </a>
      </div>
      <div class="rectangle-parent78" id="groupContainer4">
      <a th:href="@{|index/signup|}" style="color:white">
        <div class="group-child119"></div>
        <b class="ng-k16">Đăng ký</b>
        </a>
      </div>
    </div>
  </div>

</body>

</html>