<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@700;800&display=swap"
    />
  </head>
  <body>
    <div class="ng-k">
      <div class="rectangle-parent">
        <header class="frame-child"></header>
        <div class="hfg-3-1-wrapper">
          <img
            class="hfg-3-1"
            loading="lazy"
            alt=""
            src="./public/hfg-3-1@2x.png"
          />
        </div>
        <div class="navigation-container-wrapper">
          <div class="navigation-container">
            <div class="navigation-container-inner">
              <div class="rectangle-group">
                <div class="frame-item"></div>
                <img
                  class="search-1-icon"
                  loading="lazy"
                  alt=""
                  src="./public/search-1@2x.png"
                />
              </div>
            </div>
            <div class="page-info">
              <a class="trang-ch">Trang chủ</a>
              <a class="hng-dn">Hướng dẫn </a>
              <a class="np-tin">Nạp tiền</a>
              <a class="mini-game">Mini game</a>
              <a class="tin-tc">Tin tức</a>
            </div>
          </div>
        </div>
        <div class="auth-container-wrapper">
          <div class="auth-container">
            <button class="rectangle-container" id="groupButton">
              <div class="frame-inner"></div>
              <a class="ng-nhp">Đăng nhập</a>
            </button>
            <button class="group-button" id="groupButton1">
              <div class="rectangle-div"></div>
              <a class="ng-k1">Đăng ký</a>
            </button>
          </div>
        </div>
      </div>
      <section class="image-3-parent">
        <img
          class="image-3-icon"
          loading="lazy"
          alt=""
          src="./public/image-3@2x.png"
        />

        <form class="form-ng-k">
          <div class="form-ng-k-child"></div>
          <div class="ng-k-wrapper">
            <h1 class="ng-k2">Đăng ký</h1>
          </div>
          <div class="input-fields">
            <div class="account-input">
              <div class="required-label">
                <b class="bt-buc">*Bắt buộc</b>
              </div>
              <div class="group-div">
                <div class="frame-child1"></div>
                <input class="ti-khon" placeholder="Tài khoản*" type="text" />

                <div class="account-name-placeholder">
                  <b class="account-name-input">*</b>
                </div>
              </div>
            </div>
            <div class="rectangle-parent1">
              <div class="frame-child2"></div>
              <b class="mt-khu">Mật khẩu</b>
              <div class="input-containers">
                <b class="input-fields-placeholder">*</b>
              </div>
            </div>
            <div class="rectangle-parent2">
              <div class="frame-child3"></div>
              <b class="nhp-li-mt">Nhập lại mật khẩu</b>
              <div class="wrapper">
                <b class="b">*</b>
              </div>
            </div>
            <div class="rectangle-parent3">
              <div class="frame-child4"></div>
              <input class="email" placeholder="Email*" type="text" />

              <div class="container">
                <b class="b1">*</b>
              </div>
            </div>
            <div class="rectangle-parent4">
              <div class="frame-child5"></div>
              <input
                class="s-in-thoi"
                placeholder="Số điện thoại*"
                type="text"
              />

              <div class="frame">
                <b class="b2">*</b>
              </div>
            </div>
          </div>
          <div class="frame-parent">
            <button class="rectangle-parent5">
              <div class="frame-child6"></div>
              <b class="ng-k3">Đăng ký</b>
            </button>
            <div class="login-link">
              <div class="login-link-container">
                <b class="bn-c">Bạn đã có tài khoản ?</b>
                <div class="ng-nhp-ti" id="ngNhpTi">Đăng nhập tại đây</div>
              </div>
            </div>
          </div>
        </form>
      </section>
      <footer class="footer">
        <div class="footer-child"></div>
        <div class="footer-content">
          <img
            class="hfg-1-1"
            loading="lazy"
            alt=""
            src="./public/hfg-1-1@2x.png"
          />

          <div class="footer-description-wrapper">
            <div class="footer-description">
              <div class="nim-tin-ca-khch-hng-l-ti-parent">
                <b class="nim-tin-ca"
                  >Niềm tin của khách hàng là tài sản quý giá nhất của chúng
                  tôi.</b
                >
                <div class="footer-name">
                  <h2 class="footer1">Footer</h2>
                </div>
              </div>
              <b class="website-cho-thu-container">
                <p class="website-cho-thu">
                  Website cho thuê, mua bán account game
                </p>
                <p class="uy-tn-ngoi">
                  uy tín ngoài ra còn cung cấp dịch vụ cho thuê người chơi cùng.
                </p>
              </b>
            </div>
          </div>
          <div class="footer-links">
            <div class="footer-links-container">
              <h3 class="thng-tin">THÔNG TIN</h3>
              <div class="footer-link-labels">
                <b class="chnh-sch-bo">&gt; Chính sách bảo mật</b>
              </div>
              <div class="footer-link-labels1">
                <b class="chnh-sch-bo1">&gt; Chính sách bảo mật</b>
              </div>
              <div class="footer-link-labels2">
                <b class="hng-dn-np">&gt; Hướng dẫn nạp tiền</b>
              </div>
            </div>
          </div>
        </div>
        <div class="product-links">
          <div class="product-links-container">
            <div class="product-link-labels">
              <h3 class="sn-phm">SẢN PHẨM</h3>
              <div class="ti-khon-lin-minh-wrapper">
                <b class="ti-khon-lin">&gt; Tài khoản Liên Minh</b>
              </div>
              <div class="ti-khon-teamfight-tactics-wrapper">
                <b class="ti-khon-teamfight"
                  >&gt; Tài khoản Teamfight Tactics</b
                >
              </div>
              <div class="ti-khon-valorant-wrapper">
                <b class="ti-khon-valorant">&gt; Tài khoản Valorant</b>
              </div>
              <div class="ti-khon-lin-qun-mobile-wrapper">
                <b class="ti-khon-lin1">&gt; Tài khoản Liên Quân Mobile</b>
              </div>
            </div>
            <div class="support">
              <h3 class="h-tr-khch">HỖ TRỢ KHÁCH HÀNG</h3>
              <div class="chat">
                <div class="chat-link">
                  <img
                    class="mask-1-icon"
                    alt=""
                    src="./public/mask-1@2x.png"
                  />

                  <b class="chat-vi-chng">CHAT VỚI CHÚNG TÔI</b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>

    <script>
      var groupButton = document.getElementById("groupButton");
      if (groupButton) {
        groupButton.addEventListener("click", function (e) {
          window.location.href = "./ng-nhp.html";
        });
      }
      
      var groupButton1 = document.getElementById("groupButton1");
      if (groupButton1) {
        groupButton1.addEventListener("click", function (e) {
          window.location.href = "ng-k.html";
        });
      }
      
      var ngNhpTi = document.getElementById("ngNhpTi");
      if (ngNhpTi) {
        ngNhpTi.addEventListener("click", function (e) {
          window.location.href = "./ng-nhp.html";
        });
      }
      </script>
  </body>
</html>
