<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link href="https://fonts.googleapis.com/css?family=Inter&display=swap" rel="stylesheet" />
    <link href="/views/css/thanh-ton.css" rel="stylesheet" />
    <title>Document</title>
</head>

<body>
	 
    <input id="ngNhan" value="Hvtwn1M5itPV9mZkEimmuVqeoY5px6GDjdaTQ8vMokU5" type="hidden" />            
      <td style="width: 400px;">
                <p id="key"></p>
            </td>           
           
    <div class="v250_457">
        <div class="v273_6"></div>
        <div class="v253_531">
            <div class="v250_494"></div>
            <div class="v250_496"></div><span class="v250_495">XÁC NHẬN THÔNG TIN THANH TOÁN</span><span
                class="v250_497">THÔNG TIN TÀI KHOẢN: SA4565AS</span>
            <div class="v253_528"></div>
            <div class="v253_529"></div>
            <div class="v253_530"></div>
			<div class="v253_527" >
				<div class="v253_523">
					<span class="v253_512">RANK ĐƠN:</span> <span class="v253_513"
						>VÀNG IV</span>
				</div>
				<div class="v253_534">
					<span class="v253_514">KHUNG:</span> <span class="v253_515"
						>BẠCH KIM</span>
				</div>
				<div class="v253_535">
					<span class="v253_516">TƯỚNG:</span> <span class="v253_517"
						>123</span>
				</div>
				<div class="v253_537">
					<span class="v253_518">TRANG PHỤC:</span> <span class="v253_519"
						>1233</span>
				</div>
				<div class="v253_536">
					<span class="v253_520">GIÁ TIỀN:</span> <span class="v253_521"><input
						id="vnd" class="v253_519" th:value="${acc.price}" th:text="${acc.price}" /></span>
				</div>
				<span class="v253_533">TỔNG THANH TOÁN:</span> <span
					class="v253_538" >123</span>
			</div>

		</div>
        <div class="v253_542">
            <div class="name"></div>
            <div class="name"></div>
        </div>
        <div class="v253_546"></div>
        <button id="giaoDich" class="v253_547" 
        style="background-color:rgba(71, 197, 76, 1); 
               width:400px; 
               border: 0; 
               cursor: pointer; 
               color: white;"
        onmouseover="this.style.color='black'" 
        onmouseout="this.style.color='white'">
    THANH TOÁN
</button>
        <div class="v273_13">
            <div class="v273_10"></div><span class="v273_12">CHÚ Ý:
                Mua xong các bạn phải thêm số điện thoại và mail vào ngay lập tức.
                Cấm đăng nhập vào các trang web nhận quà , nhận code.
                Không đưa thông tin tài khoản Cho người khác.</span><span class="v273_11">Sau khi thanh toán thành công
                shop sẽ gửi tài khoản và mật khẩu cho bạn hoặc bạn có thể check trong lịch sử giao dịch</span>
        </div>
        <div class="v273_15"></div>
        <div class="v328_51">
            <div class="v328_52"></div><span class="v328_53">Footer</span>
            <div class="name"></div><span class="v328_55">Website cho thuê, mua bán account game
                uy tín ngoài ra còn cung cấp dịch vụ cho thuê người chơi cùng. </span><span class="v328_56">Niềm tin của
                khách hàng là tài sản quý giá nhất của chúng tôi.</span>
            <div class="v328_57"></div><span class="v328_58">CHAT VỚI CHÚNG TÔI</span><span class="v328_59">HỖ TRỢ KHÁCH
                HÀNG</span><span class="v328_60">SẢN PHẨM</span><span class="v328_61">THÔNG TIN</span><span
                class="v328_62">> Tài khoản Liên Minh</span><span class="v328_63">> Tài khoản Teamfight
                Tactics</span><span class="v328_64">> Tài khoản Valorant</span><span class="v328_65">> Chính sách bảo
                mật</span><span class="v328_66">> Chính sách bảo mật</span><span class="v328_67">> Hướng dẫn nạp
                tiền</span><span class="v328_68">> Tài khoản Liên Quân Mobile</span>
        </div>
        <div class="v332_160">
            <div class="v332_161">
                <div class="v332_162"></div>
                <div class="v332_163"></div>
            </div>
            <div class="v332_164">
                <div class="v332_165"></div>
                <div class="v332_166"></div>
            </div>
            <div class="v332_167"><span class="v332_168">Trang chủ</span><span class="v332_169">Hướng dẫn </span><span
                    class="v332_170">Nạp tiền</span><span class="v332_171">Tin tức</span><span class="v332_172">Mini
                    game</span></div>
            <div class="v332_173">
                <div class="v332_174"></div><span class="v332_175">Đăng nhập</span>
            </div>
            <div class="v332_176">
                <div class="v332_177"></div><span class="v332_178">Đăng ký</span>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/base-58@0.0.1/Base58.min.js"></script>
         <script src="https://cdn.jsdelivr.net/npm/@solana/web3.js@1.41.0/lib/index.iife.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bs58/4.0.1/bs58.min.js"></script>
    <script>
    (async () => {
        await window.phantom.solana.connect();
        publicKey = window.phantom.solana.publicKey.toBase58(); // [1,1,1,1]
        console.log(publicKey);
    })();
    
    async function getProvider() {
        if ("solana" in window) {
        	const provider = await window.solana;
            if (provider.isPhantom) {
                console.log("Is Phantom installed?  ", provider.isPhantom);
                document.getElementById("pro").innerHTML = "Phantom Wallet is installed";
                return provider;
            }
        } else {
            document.write('Install https://www.phantom.app/');
        }
    }

    async function connectToWallet() {
        const { solana } = window;
        if (solana) {
            const response = await solana.connect();
            publicKey = response.publicKey.toString();
            console.log('Address:', publicKey);
            document.getElementById("key").innerHTML = publicKey;
            return true;
        }
        return false;
    }

    async function transferSOL() {
        const { Connection, Transaction, SystemProgram, PublicKey } = solanaWeb3;

        if (!window.solana || !window.solana.isPhantom) {
            alert("Chưa kết nối ví");
            return;
        }

        try {
            // Lấy provider Phantom wallet
            const provider = window.solana;

            // Lấy public key của ví
            const fromPublicKey = new PublicKey(provider.publicKey.toString());
            if (!fromPublicKey) {
                alert("Vui lòng kết nối ví Phantom trước khi thực hiện giao dịch.");
                return;
            }

            // Kết nối với mạng Devnet Solana
            const connection = new Connection("https://api.devnet.solana.com", "confirmed");

            // Số lamports cần gửi
            const lamportsToSend = document.getElementById('vnd').value;
            const lamports = await convertVND(lamportsToSend);
            const toPublicKey = new PublicKey(document.getElementById('ngNhan').value);

            // Tạo giao dịch truyền tiền
            const transaction = new Transaction().add(
                SystemProgram.transfer({
                    fromPubkey: fromPublicKey,
                    toPubkey: toPublicKey,
                    lamports: lamports,
                })
            );

            // Gán recentBlockhash và feePayer
            const { blockhash } = await connection.getLatestBlockhash();
            transaction.recentBlockhash = blockhash;
            transaction.feePayer = fromPublicKey;

            // Ký giao dịch với Phantom wallet
            const { signature } = await provider.signAndSendTransaction(transaction);

            // Xác nhận giao dịch
            await connection.confirmTransaction(signature, 'confirmed');

            console.log("Giao dịch thành công! Signature:", signature);

            const getBalanceCurrent = await getBalance();

            alert(`Bạn đã giao dịch thành công: ${lamports} lamports và số dư của bạn còn lại: ${getBalanceCurrent}`);
        } catch (error) {
            if (error.message === "User rejected the request.") {
                alert("Bạn đã hủy thanh toán");
            } else {
                alert("Lỗi xảy ra");
                console.error("Lỗi:", error);
            }
        }
    }


    async function getBalance() {
        const {
            Connection,
            PublicKey,
            LAMPORTS_PER_SOL,
        } = solanaWeb3;

        await connectToWallet();

        const solana = window.solana;

        if (!window.solana || !window.solana.isPhantom) {
            alert("Chưa kết nối ví");
            return;
        }

        try {

            const connection = new Connection("https://api.devnet.solana.com", "confirmed");

            // const publicKeyString = document.getElementById("key").innerHTML;
            const publicKey = new PublicKey(solana.publicKey);
            const balance = await connection.getBalance(publicKey);
            const balanceSOl = balance / LAMPORTS_PER_SOL;
            return balanceSOl;
        } catch (error) {
            console.error("Lỗi:", error);
        }
    }

    async function convertVND(lamportsToSend) {
        const response = await fetch('https://api.coingecko.com/api/v3/simple/price?ids=solana&vs_currencies=vnd');
        const data = await response.json();
        const exchangeRate = data.solana.vnd;

        // Tính số SOL cần chuyển
        const amountSOL = lamportsToSend / exchangeRate;
        const lambordsVnd = Math.floor(amountSOL * Math.pow(10, 9));
        return lambordsVnd;

    }



    document.getElementById("giaoDich").addEventListener("click", transferSOL);
    document.getElementById("getProvider").addEventListener("click", getProvider);
    document.getElementById("connectToWallet").addEventListener("click", connectToWallet);
    document.getElementById("getBalance").addEventListener("click", async function () {
        try {
            const key = document.getElementById('key');
            if (key == null || key.innerText.trim() === "") {
                alert("Vui lòng kết nối ví trước khi lấy số dư.");
                return;
            }

            const getBalanceCurrent = await getBalance();
            alert(`Số dư của bạn hiện tại: ${getBalanceCurrent}`);
        } catch (error) {
            console.error('Đã xảy ra lỗi khi lấy số dư:', error);
        }
    });

</script>
</body>

</html>