<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="/views/css/global.css" />
    <link rel="stylesheet" href="/views/css/thanh-ton-hon-thnh.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="thanh-ton-hon-thnh">
      <div class="line-parent1">
        <div class="group-child90"></div>
        <img class="group-child91" alt="" src="/image/polygon-1.svg" />
      </div>
      <div class="rectangle-parent69">
        <div class="group-child92"></div>
        <b class="ch-mua-container1">
          <p class="ch1">CHÚ Ý:</p>
          <p class="mua-xong-cc1">
            Mua xong các bạn phải thêm số điện thoại và mail vào ngay lập tức.
          </p>
          <p class="mua-xong-cc1">
            Cấm đăng nhập vào các trang web nhận quà , nhận code.
          </p>
          <p class="khng-a-thng1">
            Không đưa thông tin tài khoản Cho người khác.
          </p>
        </b>
        <b class="sau-khi-thanh1"
          >Sau khi thanh toán thành công shop sẽ gửi tài khoản và mật khẩu cho
          bạn hoặc bạn có thể check trong lịch sử giao dịch</b
        >
      </div>
      <div class="rectangle-parent70">
        <div class="group-child93"></div>
        <img class="image-2-icon" alt="" src="/image/image-2@2x.png" />

        <b class="thanh-ton-thnh">THANH TOÁN THÀNH CÔNG</b>
        <b class="m-ti-khon">Mã tài khoản của bạn là: SB9876</b>
        <b class="bn-c-th">Bạn có thể kiểm tra lại trong lịch sử giao dịch</b>
        <div class="group-container">
          <div class="ti-khon-accountnt23-parent">
            <b class="ti-khon-accountnt23">Tài khoản: accountnt23</b>
            <b class="mt-khu-asd135432a">Mật khẩu: ASD135432a</b>
          </div>
          <div class="group-child94"></div>
        </div>
      </div>
      <div class="footer24">
        <div class="footer-child10"></div>
        <b class="footer25">Footer</b>
        <img class="hfg-1-112" alt="" src="/image/hfg-1-1@2x.png" />

        <b class="website-cho-thu-container12">
          <p class="website-cho-thu12">
            Website cho thuê, mua bán account game
          </p>
          <p class="uy-tn-ngoi12">
            uy tín ngoài ra còn cung cấp dịch vụ cho thuê người chơi cùng.
          </p>
        </b>
        <b class="nim-tin-ca12"
          >Niềm tin của khách hàng là tài sản quý giá nhất của chúng tôi.</b
        >
        <img class="mask-1-icon12" alt="" src="/image/mask-1@2x.png" />

        <b class="chat-vi-chng12">CHAT VỚI CHÚNG TÔI</b>
        <b class="h-tr-khch12">HỖ TRỢ KHÁCH HÀNG</b>
        <b class="sn-phm12">SẢN PHẨM</b>
        <b class="thng-tin13">THÔNG TIN</b>
        <b class="ti-khon-lin24">&gt; Tài khoản Liên Minh</b>
        <b class="ti-khon-teamfight12">&gt; Tài khoản Teamfight Tactics</b>
        <b class="ti-khon-valorant12">&gt; Tài khoản Valorant</b>
        <b class="chnh-sch-bo24">&gt; Chính sách bảo mật</b>
        <b class="chnh-sch-bo25">&gt; Chính sách bảo mật</b>
        <b class="hng-dn-np12">&gt; Hướng dẫn nạp tiền</b>
        <b class="ti-khon-lin25">&gt; Tài khoản Liên Quân Mobile</b>
      </div>
      <div class="header12">
        <div class="rectangle-parent71">
          <div class="group-child95"></div>
          <img class="hfg-3-112" alt="" src="/image/hfg-3-1@2x.png" />
        </div>
        <div class="rectangle-parent72">
          <div class="group-child96"></div>
          <img class="search-1-icon12" alt="" src="/image/search-1@2x.png" />
        </div>
        <div class="trang-ch-parent10">
          <b class="trang-ch12">Trang chủ</b>
          <b class="hng-dn12">Hướng dẫn </b>
          <b class="np-tin12">Nạp tiền</b>
          <b class="tin-tc12">Tin tức</b>
          <b class="mini-game12">Mini game</b>
        </div>
        <div class="rectangle-parent73" id="groupContainer3">
          <div class="group-child97"></div>
          <b class="ng-nhp12">Đăng nhập</b>
        </div>
        <div class="rectangle-parent74" id="groupContainer4">
          <div class="group-child98"></div>
          <b class="ng-k15">Đăng ký</b>
        </div>
      </div>
    </div>
  </body>
</html>
