<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div class="footer-wrapper2" th:fragment="footer">
        <div class="footer16">
          <div class="footer-child6"></div>
          <b class="footer17">Footer</b>
          <img class="hfg-1-18" alt="" src="/image/hfg-1-1@2x.png" />

          <b class="website-cho-thu-container8">
            <p class="website-cho-thu8">
              Website cho thuê, mua bán account game
            </p>
            <p class="uy-tn-ngoi8">
              uy tín ngoài ra còn cung cấp dịch vụ cho thuê người chơi cùng.
            </p>
          </b>
          <b class="nim-tin-ca8"
            >Niềm tin của khách hàng là tài sản quý giá nhất của chúng tôi.</b
          >
          <img class="mask-1-icon8" alt="" src="/image/mask-1@2x.png" />

          <b class="chat-vi-chng8">CHAT VỚI CHÚNG TÔI</b>
          <b class="h-tr-khch8">HỖ TRỢ KHÁCH HÀNG</b>
          <b class="sn-phm8">SẢN PHẨM</b>
          <b class="thng-tin9">THÔNG TIN</b>
          <b class="ti-khon-lin16">&gt; Tài khoản Liên Minh</b>
          <b class="ti-khon-teamfight8">&gt; Tài khoản Teamfight Tactics</b>
          <b class="ti-khon-valorant8">&gt; Tài khoản Valorant</b>
          <b class="chnh-sch-bo16">&gt; Chính sách bảo mật</b>
          <b class="chnh-sch-bo17">&gt; Chính sách bảo mật</b>
          <b class="hng-dn-np8">&gt; Hướng dẫn nạp tiền</b>
          <b class="ti-khon-lin17">&gt; Tài khoản Liên Quân Mobile</b>
        </div>
      </div>
</body>
</html>